.LoginForm {
  width: 360px;
  height: 340px;
  background: #2b2d2f;
  position: absolute;
  top: 393px;
  right: 345px;
  text-align: center;
  padding: 40px 0 0 0;
  color: white;
  z-index: 5000;

  & .Cross {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 0;
    cursor: pointer;

    & span {
      position: absolute;
      top: 20px;
      right: 15px;
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      border-radius: 2px;
      background-color: lightgrey;
      transform: rotate(-45deg);

    }

    & span:before {
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      border-radius: 2px;
      background-color: lightgrey;
      transform: rotate(90deg);
    }

  }

  & h2 {
    padding-bottom: 20px;
  }

  & .LogIn {
    margin-bottom: 20px;
  }

  & .LogInInput {
    margin-bottom: 10px;
  }

  & .LoginButton {
    margin: 10px;

    &:hover {
      font-weight: bold;
      background: gray;
    }
  }
}
