.AsideMenu{
  width: 274px;
  background-color: #24272d;
  position: fixed;
  left: 0;
  top: 64px;
  height: 100%;

  h3{
    color: white;
    font-style: normal;
    text-transform: uppercase;
  }
}
