.AsideMenu{
  width: 274px;
  background-color: #24272d;
  position: fixed;
  left: 0;
  top: 64px;
  height: 100%;

  h3{
    color: white;
    font-style: normal;
    text-transform: uppercase;
    height: 60px;
    padding: 18px 32px;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
  }

  .headName {
    display: flex;
    flex-direction: row;
    margin: 0 16px 18px 0;

    a {
      margin-left: 32px;
      border-color: #cccc28;
      color: #cccc28;
      cursor: default;
      fill: #cccc28;
      font-size: 0.75rem;
    }



  }



}
