.RegistrationForm {
  width: 360px;
  height: 360px;
  background: #2b2d2f;
  position: absolute;
  top: -10px;
  text-align: center;
  padding: 10px 0 0 0;
  color: white;
  z-index: 5000;

  & .Cross {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;

    & span {
      position: absolute;
      top: 14px;
      right: -11px;
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      border-radius: 2px;
      background-color: lightgrey;
      transform: rotate(-45deg);

    }

    & span:before {
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      border-radius: 2px;
      background-color: lightgrey;
      transform: rotate(90deg);
    }

  }

  & .Title {
    padding-bottom: 10px;
  }

  & .SignInPass {
    margin-top: 10px;
  }

  & .ConfSignInPass {
    margin-top: 10px;
  }

  & .SignInInput{
    margin-bottom: 10px;
  }

  & .SignInButton {
    margin: 20px 0 10px 0;

    &:hover {
      font-weight: bold;
      background: gray;
    }
  }

  & .Change_link {
    margin-bottom: 5px;
  }

  & .To_LogIn {
    color: aqua;

    &:hover {
      color: blue;
    }
  }
}
