.Header {
  background: #2b2d2f;
  box-shadow: 0 0 3px rgb(0 0 0 / 50%);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  min-width: 960px;
  height: 64px;
  color: #fff;
  padding-top: 20px;
  z-index: 100;

  .Basket {
    top: 64px;
    right: 0;
  }

  & h3 {
    height: 64px;
  }

  & span {
    margin-right: 10px;
  }

  & nav {
    width: 100%;
    height: 64px;
  }

  & ul {
    display: flex;
    justify-content: space-evenly;
    height: 64px;
  }

  & img {
    width: 100px;
    height: 40px;
    padding: 15px 0 0 0;
    margin-top: -15px;

  }

  & nav ul li {
    width: 960px;
    height: 64px;
    color: white;
    text-align: center;


    & p:hover {
      color: red;
      cursor: pointer;
    }

  }

  & .Header_region__active {
    font-size: 14px;
  }

  & a {
    color: white;
  }

  & .Point {
    width: 18px;
    height: 30px;
  }

  & .Login {
    width: 18px;
    height: 30px;
  }


}
