.Slider {
  padding: 0!important;
  width: calc(100% - 274px);
  margin-left: 274px;
  background-color: #24272d;


  li{
    padding: 0!important;
    width: 30px;

    button{
      width: 5px;
      height: 5px;
    }
  }

  img {
    width: 100%;
    height: 100%;
  }

  .background{
    background: rgba(0,0,0,0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .caption{
      font-family: cursive;
      position: absolute;
      font-size: 35px;
      line-height: 0;
      text-align: center;
      width: 96%;
      margin: 400px 0 0 0;
      color: #ffffff;
    }
    .caption1{
      font-family: cursive;
      font-size: 20px;
      line-height: 0;
      text-align: center;
      width: 96%;
      margin:460px 0 0 0;
      color: #ffffff;
    }

  }
}
